.v-scatter-time-chart .axis--y .domain {
  display: none;
}

.v-scatter-time-chart .dot {
  fill-opacity: 0.5;
}

.v-scatter-time-chart .active-g {
  display: none;
}

.v-scatter-time-chart .active-g.is-active {
  display: inline;
}

.v-scatter-time-chart .active-g .active-circle__bg {
  fill: currentColor;
  fill-opacity: 0.35;
}

.v-scatter-time-chart .active-g .active-circle__fg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 2px;
}

.v-scatter-time-chart .regression-line {
  stroke: currentColor;
  stroke-dasharray: 2 4;
}

.v-scatter-time-chart .capture-rect {
  fill: none;
  pointer-events: all;
}

.v-scatter-time-chart .handle--custom {
  stroke: currentColor;
  fill: var(--color-background);
}

.v-scatter-time-chart .brush-g .overlay {
  pointer-events: none;
}

.v-scatter-time-chart .brush-g.is-brushing .overlay {
  pointer-events: all;
}

.v-scatter-time-chart .brush-g .selection {
  fill-opacity: 0.1;
  stroke: currentColor;
}
